body {
  margin: 0;
  font-family: sans-serif;
  font-size: 11px;
}

.axis path, .axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;  /* Round any decimal pixels so it'll render nicely */
}

path { 
    stroke: black;
    stroke-width: 1;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.coord-text {
  /*stroke: white;*/
  fill: white;
}

.coord-label {
  fill: #6e6e6e;
  stroke-width: 0;
  pointer-events: none;
}

.rect-for-mouseover {
  fill: none;
  cursor: crosshair;
  pointer-events: all;
}

img {
  width: 100%;
  height: auto;
}

.note {
  margin-top: 0px;
  margin-bottom: 2px;
  font-size: 16px;
  text-align: right;
}

.prinfo {
  font-weight: bold;
}

.legend {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 18px;
  text-align: right;
}

.key{
  width: 30px; 
  vertical-align: middle;
}

.img-header {
  margin-top: 0px;
  margin-bottom: 2px;
  font-size: 16px;
  font-weight: bold;
}

text.key-text{
  font-size: 14px;
  fill: grey;
}


.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 2500px; /* or 950px */
}


/* Controls slider */
.form-control-range {
  width: 200px;
}

/* Style for the target function */
#target {
  stroke: grey;
  stroke-opacity: 0.5;
  stroke-width: 2;
}

/* Style for the hypothesis function */
#hypothesis {
  stroke: orange;
  stroke-opacity: 0.5;
  stroke-width: 2;
}

.rect-for-mouseover {
  fill: none;
  /*cursor: crosshair;*/
  pointer-events: all;
}

/* Points that are being dragged on the function plot */
.dragging {
  /*fill: green;*/
}

.dragged {
  /*stroke-color: none;*/
}

/* True weight value */
.true-weight-line {
  stroke: lightgrey;
  stroke-opacity: 1;
  stroke-width: 1;
  stroke-dasharray: 5,5; 
}

/* True weight value */
.batch-error-line {
  stroke: gray;
  stroke-opacity: 0.5;
  stroke-width: 1;
}

/* Circles that are included in the batch */
.batch-sample {
  stroke: gray;
  stroke-opacity: 1;
  stroke-width: 4;
}

.label {
  text-anchor: end;
  font-weight: bold;
}

.btn {
    margin-bottom: 5px;
}

h1 {
  margin-bottom: 0px;
}